.App {
  text-align: center;
  background-color: rgb(227, 221, 221);
}

.button-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
}

.button-container button {
  font-size: 18px;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #004692;
}
