.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 1rem;
    color: white;

}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo img {
    height: 60px;
}

.footer-menu {
    list-style: none;
    display: flex;
}

.footer-menu-li {
    margin-right: 1rem;
}

.footer-menu-li:last-child {
    margin-right: 0;
}

.footer-menu-link {
    text-decoration: none;
    color: white;
}

.footer-menu-link:hover {
    text-decoration: underline;
}

.footer-user-pic {
    text-decoration: none;
    color: white
}

.footer-user-pic:hover {
    color: #007bff;
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
}

.footer-user-vic {
    visibility: hidden;
}