.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 80%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.user-stats ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-stats ul li {
    margin-bottom: 0.5rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deets {
    margin-top: 1rem;
}

.details {
    margin-bottom: 0.5rem;
}

.user-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilePic {
    font-size: 4rem;
    background-color: #e38800;
    border: 2px solid #000000;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #0077ff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #005eff;
}

.not-login-message {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 40rem;
    margin-left: 40rem;
    margin-right: 40rem;
}